.green {
  background-color: #1E824C;
}

.orange {
  background-color: #F9690E;
}

.pink {
  background-color: #F62459;
}

.yellow {
  background-color: #F7CA18;
}

.identifier {
  color: white;
  letter-spacing: 1rem;
}
